<%- include("header")-%>

<div class="content">
    <h1>CONTACT US</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque malesuada congue quam sit amet aliquam. Cras ut nisl felis. Pellentesque habitant morbi tristique senectus et netus et malesuada 
        fames ac turpis egestas. Pellentesque vestibulum condimentum lectus, ut blandit tellus ultricies non. 
        Phasellus accumsan augue eget elit imperdiet, sed placerat sapien condimentum. 
        Quisque efficitur leo nec magna gravida ultrices. Morbi finibus sagittis urna, sed ullamcorper metus 
        volutpat ac. Nulla auctor sapien bibendum interdum porttitor. Nulla tristique dolor sit amet urna gravida 
        egestas vel non tortor. Praesent ut consectetur ipsum. In eu est eu enim volutpat ultricies eu id massa. 
        Phasellus eu imperdiet arcu. Donec lacus sem, tristique venenatis est sed, auctor gravida enim. Cras at 
        feugiat tortor, dignissim sodales dolor.
    </p>
</div>

<%- include("footer")-%>
